* {
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: Calibri;
    font-size: 1rem;
  }
  
  body {
    min-height: 100vh;
    padding: 0;
    overflow: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
  textarea {
    resize:vertical;
    width: 100%;
  }
  
  h1 {
    font-size: 2.2rem;
    margin: 2%;
  }
  
  nav {
    background-color: white;
    padding: 3% 6%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  
  nav h1 {
    color: Black;
    font-family: Calibri;
    font-weight: 200;
  }
  
  input {
    border-radius: 0;
  }
  
  h5 {
    text-decoration: solid;
    margin-top: 30px;
  }
  
  .pres-header {
    font-size: 1.8rem;
  }
  
  .newTaskLabel {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .assigneesLabel {
    width: 100%;
    margin-left: 10px;
  }
  
  .newTaskContent {
    margin-top: 15px;
  }
  
  .header {
    display: flex;
  }
  
  .header h3 {
    position: absolute;
    right: 0;
    margin-right: 10%;
  }
  
  .formLabel {
    margin-right: 10px;
    font-size: 16px;
  }
  
  .row {
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .input-title,.input-content {
    border-style: hidden;
    margin: 10px;
    width: 90%;
  }
  
  .input-title {
    height: 20%;
    font-size: 1.1rem;
    max-width: 90%;
  }
  
  .input-content { 
    font-size: 1rem;
    height: 100px;
    max-width: 90%;
  }
  
  .navbar .navbar-nav {
    font-size: 1.7rem;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
  }
  
  .navbar-brand {
    font-size: 2.3rem;
    margin-left: 3%;
    margin-right: 20%;
  }
  
  .navbar {
    min-height: 8vh;
    max-height: 18vh;
    margin-bottom: 5%;
  }
  
  .nav-item {
    margin-left: 30px;
  }
  
  a:hover, a:visited, a:link {
    color: rgba(0, 0, 0, 0.548);
  }
  
  .container {
    color: black;
  }
  
  .container-fluid {
    color: black;
    text-align: center;
    margin-top: 6%;
  }
  
  .btn {
    background-color: #5e00da;
    border: none;
    color: white;
  }
  
  .card {
    max-width: 70%;
    text-align: left;
  }
  
  .card-body {
    text-align: center;
  }
  
  .label {
    color: black;
  }
  
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 20px;
    min-width: 500px;
    max-width: 700px;
    height: auto;
    margin: 16px;
    margin-bottom: 10%;
    float: left;
    text-align: left;
  }
  .note,.comment h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note,comment p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .comment {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 20px;
    width: 100%;
    height: auto;
    margin: 16px 16px 2%;
    float: left;
    text-align: left;
  }
  
  .brand-img {
    float: left;
    height: 1%;
    margin-right: 20px;
  }
  
  .presentation-img {
    height: 90%;
    width: 90%;
    float: right;
    border-radius: 10%;
  }
  
  .pres-content {
    font-size: 1.3rem;
  }
  
  .form-content {
    margin: 10px;
  }
  
  .list-item-text {
    color: black;
  }
  
  .work-form {
    margin-top: 3%;
    margin-left: 3%;
  }

  .navbar-admin-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #login, #register, #home {
    min-height: 80vh;
  }
  
  .home-title {
    margin-bottom: 15px;
  }
  
  #Footer {
    margin-top: 7vh;
    position: absolute;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    align-items: center;
    width: 100%;
    text-align: center;
    padding-top: 2%;
    background-color: #5e00da;
    color: white;
  }
  
  #Footer a {
    color: rgba(255, 255, 255, 0.582);
  }
  
  #brainstorming-pic {
    height: 120%;
    width: 100%;
    float: left;
    margin-left: 5%;
  }
  
  #profile, #workspace {
    min-height: 100vh;
    padding-bottom: 5%;
  }
  
  #work-fab {
    margin-left: 1%;
  }
  
  